@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500&family=JetBrains+Mono:wght@100;200;300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Open+Sans:wght@300&family=Paprika&family=Roboto:wght@100;300;400;500&display=swap");

html::-webkit-scrollbar {
  display: none;
  width: 0;
}

body {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.topnav-body {
  position: relative;
  height: 100px;
  width: 100%;
  z-index: 1;
  background: white;
  display: flex;
  flex-direction: row;
}

.search-div {
  position: relative;
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.search-div input {
  position: relative;
  width: 70%;
  height: 30%;
  margin-top: 5%;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  transition: 0.3s;
  padding-left: 15px;
  color: rgb(0, 0, 0, 0.5);
}
.search-div input:hover {
  border-bottom: 2px solid black;
}

.search-div button {
  position: relative;
  margin-top: 5%;
  height: 35px;
  width: 35px;
  border: none;
  outline: none;
  background: url("../Images/search-icon.png");
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.user-div {
  position: relative;
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: row;
}
.account-div,
.cart-div {
  position: relative;
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.account-div #message-one,
.account-div #message-two {
  position: relative;
  margin: 0;
  padding: 0;
  color: black;
}
.account-div #message-one {
  font-size: 12px;
}
.account-div #message-two {
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}
.cart-div button {
  position: relative;
  height: 50px;
  width: 50px;
  border: none;
  outline: none;
  background: url("../Images/cart-image.png");
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.footer-body {
  position: relative;
  height: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.blue {
  position: relative;
  height: 76px;
  width: 100%;
  background: #4386c3;
}
.footer-content {
  position: relative;
  height: 274px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.home-div,
.links-div,
.media-div {
  position: relative;
  height: 80%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-div a {
  text-decoration: none;
  font-size: 36px;
  font-weight: normal;
  color: #ff8210;
}
.links-div,
.media-div {
  width: 30%;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer-title {
  position: relative;
  height: 25%;
  width: 100%;
}
.footer-title p {
  font-size: 22px;
  font-weight: bold;
  padding-left: 40px;
  color: rgb(0, 0, 0, 0.5);
}
.links-container {
  position: relative;
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}
.links-container ul {
  position: relative;
  margin: 0;
  padding: 0;
}
.links-container ul li {
  margin-top: 2.5%;
  color: rgb(0, 0, 0, 0.25);
}
.links-container ul li a {
  text-decoration: none;
  font-size: 12px;
  color: rgb(0, 0, 0, 0.5);
}
.all-rights-reserved {
  position: relative;
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.all-rights-reserved p {
  position: relative;
  font-size: 12px;
  padding: 0;
  margin: 0;
  color: #446ed8;
}
.media-holder {
  position: relative;
  height: 25%;
  width: 100%;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.media-holder img {
  position: relative;
  height: 50px;
  width: 50px;
  border: 10px;
}

.loading-component-body {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loading-component-body p {
  font-size: 32px;
  color: rgb(0, 0, 0, 0.5);
  cursor: default;
  top: 0;
}
.loading-component-body img {
  position: relative;
  height: 50px;
  width: 50px;
}
