.rtw-content {
  position: relative;
  height: 250vh;
  width: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rtw-content div {
  position: relative;
}

.rtw-categorylink-container {
  height: 5vh;
  width: 100%;
  background: #c7c7c7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rtw-link-container {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.rtw-link-container a {
  text-decoration: none;
  color: rgb(0, 0, 0, 0.5);
  transition: 0.3s;
  font-weight: 500;
}
.rtw-link-container a:hover {
  font-weight: bold;
}
.upper-content {
  height: 165vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.upper-content .left,
.upper-content .right {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shirt-container,
.sleeveless-container {
  height: 70%;
  width: 100%;
}
.short-pant-container,
.headwear-container {
  height: 30%;
  width: 100%;
}
.short-pant-container {
  width: 99.5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.short-container,
.pant-container {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.category-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.lower-content {
  height: 70vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50% 50%;
}
.category-div {
  height: 99%;
  width: 99%;
  background: #c7c7c7;
  align-self: center;
  justify-self: center;
  cursor: pointer;
}
.category-div .category-profile {
  height: 85%;
  width: 100%;
}
.category-div .category-profile img {
  position: relative;
  height: 100%;
  width: 100%;
}
.category-div .category-name {
  height: 5%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.category-div .category-name p {
  font-size: 22px;
  font-weight: 500;
}
.category-div .category-link {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.category-div .category-link a {
  font-size: 17px;
  text-decoration: none;
  color: rgb(0, 0, 0, 0.5);
}
.rtw-category-searched-body {
  position: relative;
  height: 100vh;
  widows: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.rtw-category-searched-title {
  position: relative;
  height: 5%;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.rtw-category-searched-title a div {
  position: relative;
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(128, 128, 128, 0.5);
  transition: 0.3s;
}
.rtw-category-searched-title a div:hover {
  background: rgb(128, 128, 128);
}
.rtw-category-searched-title a div img {
  position: relative;
  height: 100%;
  width: 100%;
}
.rtw-category-searched-title p {
  font-size: 18px;
  color: black;
}
.rtw-category-searched-content {
  position: relative;
  height: 90%;
  width: 95%;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  overflow-y: scroll;
}
