.sign-up-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}
.join-us-div {
  position: relative;
  height: 10vh;
  width: 70%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  top: 10vh;
}
.join-us-div p {
  font-size: 48px;
  color: black;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.ecommerce-div {
  position: relative;
  height: 20vh;
  width: 70%;
  top: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.ecommerce-div p {
  font-size: 128px;
  color: #ff7a00;
  font-weight: 500;
}

.main-form {
  position: relative;
  height: 50vh;
  width: 50%;
  top: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main-form p {
  font-size: 16px;
  color: gray;
  padding: 0;
  margin: 0;
}

.info-form,
.options-form {
  position: relative;
  height: 100%;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.options-form {
  justify-content: center;
}
.info-form input {
  position: relative;
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  background: none;
  transition: 0.3s;
  font-size: 16px;
  color: gray;
}
.info-form input:hover {
  border-bottom: 2px solid rgb(0, 0, 0, 0.5);
}
.info-form input:focus {
  border-bottom: 2px solid rgba(31, 37, 210);
}

.info-form button {
  position: relative;
  height: 40px;
  width: 50%;
  border-radius: 25px;
  font-size: 16px;
  color: gray;
  border: 1px solid gray;
  background: none;
  outline: none;
  cursor: pointer;
}
.info-form button:active {
  background: gray;
  color: white;
}

.options-form p {
  font-size: 22px;
  color: gray;
  font-weight: 500;
}
.option-div {
  position: relative;
  height: 75px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.option-div button {
  position: relative;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
}

.already-have-account-div {
  position: absolute;
  width: 100%;
  bottom: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  right: 5%;
}

.already-have-account-div p,
.already-have-account-div a {
  position: relative;
  font-size: 18px;
  text-decoration: none;
}
.already-have-account-div a {
  font-weight: bold;
  color: #4870ff;
}
